<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="/css/styles.css">
    <title>Segunda Pre Entrega</title>
</head>
<body>
    <h1>Segunda Pre Entrega</h1>

    <nav>
        <ul>
            <li>------------------------------------</li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/profile">Perfil</a></li>
            <li>------------------------------------</li>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/products/realtimeproducts">Real Time Products</a></li>
            <li><a href="/api/products">API Products</a></li>
            <li><a href="/products/carts/64a36d28ae5981f3f6e4488e">Carrito</a></li>
            <li><a href="/api/carts">API Carts</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </nav>
    {{{ body }}}
</body>
</html>